body * {
  font-family: "Zen Loop", cursive;
}

li {
  background: #fff;
  display: flex;
  justify-content: space-between;
}

li:nth-child(2n) {
  background: #ccc;
}

.info li {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
}

.info li:nth-child(2n) {
  background: #ccc;
}
